artifactory:
  artifactory:
    service:
      type: NodePort
    resources:
      requests:
        memory: "4Gi"
        cpu: "1"
      limits:
        memory: "8Gi"
        cpu: "2"
  nginx:
    enabled: false
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
    hosts:
      - "nexus.local.thongdanghoang.id.vn"
    tls: []
  postgresql:
    postgresqlPassword=April03,2001: