controller:
  image:
    registry: "harbor.orb.local"
    repository: "library/jenkins"
    tag: "lts-jdk21"
    tagLabel: ""
    pullPolicy: "IfNotPresent"
  imagePullSecrets:
    - name: harbor-registry-secret
  hostAliases:
    - ip: "192.168.139.2"
      hostnames:
        - "keycloak.local"
  ingress:
    enabled: true
    apiVersion: "networking.k8s.io/v1"
    ingressClassName: "nginx"
    annotations:
      kubernetes.io/ingress.class: "nginx"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
      cert-manager.io/cluster-issuer: "local-ca-issuer"
    path: /
    hostName: jenkins.local
    tls:
      - secretName: jenkins-tls-secret
        hosts:
          - jenkins.local
  installPlugins: []
  containerEnv:
    # Keycloak
    - name: KEYCLOAK_REALM
      value: "thongdhse160015"
    - name: KEYCLOAK_AUTH_SERVER_URL
      value: "https://keycloak-thongdhse160015-dev.apps.rm3.7wse.p1.openshiftapps.com/"
    - name: DISABLE_TRUST_MANAGER
      value: "false"
    - name: ALLOW_ANY_HOSTNAME
      value: "true"
    - name: KEYCLOAK_CLIENT_SECRET
      valueFrom:
        secretKeyRef:
          name: jenkins-keycloak-creds
          key: client-secret
    # SonarQube
    - name: SONAR_SERVER_URL
      value: "https://sonarqube.local"
    - name: SONAR_AUTH_TOKEN
      valueFrom:
        secretKeyRef:
          name: jenkins-sonar-creds
          key: sonar-token
    - name: SONAR_TOKEN_ID
      value: "sonar-token-id"
    # Gitea
    - name: GITEA_SERVER_URL
      value: "https://gitea.local"
    - name: GITEA_AUTH_TOKEN
      valueFrom:
        secretKeyRef:
          name: jenkins-gitea-creds
          key: gitea-token
    - name: GITEA_TOKEN_ID
      value: "gitea-token-id"
  JCasC:
    configScripts:
      security-realm: |
        jenkins:
          securityRealm:
            keycloak:
              keycloakJson: |
                {
                  "realm": "${KEYCLOAK_REALM}",
                  "auth-server-url": "${KEYCLOAK_AUTH_SERVER_URL}",
                  "ssl-required": "external",
                  "resource": "jenkins",
                  "credentials": {
                    "secret": "${KEYCLOAK_CLIENT_SECRET}" 
                  },
                  "confidential-port": 0,
                  "disable-trust-manager": "${DISABLE_TRUST_MANAGER}",
                  "allow-any-hostname": "${ALLOW_ANY_HOSTNAME}"
                }

      credentials: |
        credentials:
          system:
            domainCredentials:
              - credentials:
                  - string:
                      scope: GLOBAL
                      id: "${SONAR_TOKEN_ID}"  
                      secret: "${SONAR_AUTH_TOKEN}"
                      description: "SonarQube Server Authentication Token"
                  - string:
                      scope: GLOBAL
                      id: "${GITEA_TOKEN_ID}"
                      secret: "${GITEA_AUTH_TOKEN}"
                      description: "Gitea Server Authentication Token"
      sonar-config: |
        unclassified:
          sonarGlobalConfiguration:
            buildWrapperEnabled: true
            installations:
              - name: "SonarQube Local"
                serverUrl: "${SONAR_SERVER_URL}"
                serverAuthenticationToken: "${SONAR_TOKEN_ID}"
                triggers:
                  skipScmCause: false
                  skipUpstreamCause: false
          scmGit:
            globalConfigName: "Jenkins"
            globalConfigEmail: "jenkins@local"
            createAccountBasedOnEmail: false

agent:
  jenkinsUrl: "https://jenkins.local/"
