ingress:
  enabled: true
  apiVersion: "networking.k8s.io/v1"
  ingressClassName: nginx
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    cert-manager.io/cluster-issuer: "local-ca-issuer"
  path: /
  hostName: jenkins.local
  tls:
    - secretName: jenkins-tls-secret
      hosts:
        - jenkins.local

agent:
  jenkinsUrl: "https://jenkins.local/"
