controller:
  image:
    registry: "harbor.local"
    repository: "library/jenkins"
    tag: "lts-jdk21"
    tagLabel: ""
    pullPolicy: "IfNotPresent"
  imagePullSecretName: "jenkins-harbor-secret"
  ingress:
    enabled: true
    apiVersion: "networking.k8s.io/v1"
    ingressClassName: "nginx"
    annotations:
      kubernetes.io/ingress.class: "nginx"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
    path: /
    hostName: jenkins.local
    tls:
      - secretName: jenkins-tls-secret
        hosts:
          - jenkins.local
  installPlugins: []
  containerEnv:
    # Keycloak
    - name: KEYCLOAK_REALM
      value: "thongdhse160015"
    - name: KEYCLOAK_AUTH_SERVER_URL
      value: "https://keycloak-thongdhse160015-dev.apps.rm3.7wse.p1.openshiftapps.com/"
    - name: DISABLE_TRUST_MANAGER
      value: "false"
    - name: ALLOW_ANY_HOSTNAME
      value: "true"
    - name: KEYCLOAK_CLIENT_SECRET
      valueFrom:
        secretKeyRef:
          name: jenkins-keycloak-creds
          key: client-secret
    # SonarQube
    - name: SONAR_SERVER_URL
      value: "http://sonarqube-sonarqube.sonarqube.svc.cluster.local:9000"
    - name: SONAR_AUTH_TOKEN
      valueFrom:
        secretKeyRef:
          name: jenkins-sonar-creds
          key: sonar-token
    - name: SONAR_TOKEN_ID
      value: "sonar-token-id"
    # Gitea
    - name: GITEA_SERVER_URL
      value: "https://gitea.local"
    - name: GITEA_AUTH_TOKEN
      valueFrom:
        secretKeyRef:
          name: jenkins-gitea-creds
          key: gitea-token
    - name: GITEA_TOKEN_ID
      value: "gitea-token-id"
  JCasC:
    configScripts:
      security-realm: |
        jenkins:
          securityRealm:
            keycloak:
              keycloakJson: |
                {
                  "realm": "${KEYCLOAK_REALM}",
                  "auth-server-url": "${KEYCLOAK_AUTH_SERVER_URL}",
                  "ssl-required": "external",
                  "resource": "jenkins",
                  "credentials": {
                    "secret": "${KEYCLOAK_CLIENT_SECRET}" 
                  },
                  "confidential-port": 0,
                  "disable-trust-manager": "${DISABLE_TRUST_MANAGER}",
                  "allow-any-hostname": "${ALLOW_ANY_HOSTNAME}"
                }

      credentials: |
        credentials:
          system:
            domainCredentials:
              - credentials:
                  - string:
                      scope: GLOBAL
                      id: "${SONAR_TOKEN_ID}"
                      secret: "${SONAR_AUTH_TOKEN}"
                      description: "SonarQube Server Authentication Token"
                  - string:
                      scope: GLOBAL
                      id: "${GITEA_TOKEN_ID}"
                      secret: "${GITEA_AUTH_TOKEN}"
                      description: "Gitea Server Authentication Token"
                  - usernamePassword:
                      scope: GLOBAL
                      id: "gitea-git-credentials"
                      username: "gitea_admin"
                      password: "${GITEA_AUTH_TOKEN}"
                      description: "Gitea Git Repository Credentials"
      sonar-config: |
        unclassified:
          sonarGlobalConfiguration:
            buildWrapperEnabled: true
            installations:
              - name: "MySonarQube"
                serverUrl: "${SONAR_SERVER_URL}"
                credentialsId: "${SONAR_TOKEN_ID}"
                triggers:
                  skipScmCause: false
                  skipUpstreamCause: false
          globalDefaultFlowDurabilityLevel:
            durabilityHint: PERFORMANCE_OPTIMIZED
      maven-tool: |
        tool:
          maven:
            installations:
              - name: "Maven"
                home: "/usr/share/maven"

persistence:
  enabled: true
  existingClaim: maven-repo-cache
  storageClass: local-path
  accessMode: ReadWriteOnce
  size: 10Gi

agent:
  jenkinsUrl: "http://jenkins.jenkins.svc.cluster.local:8080/"
