community:
  enabled: true

ingress:
  enabled: true
  hosts:
    - name: sonarqube.local
      path: /
      pathType: Prefix
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
  tls: []

persistence:
  enabled: true
  size: 10Gi

extraVolumes:
  - name: saml-cert
    secret:
      secretName: sonarqube-saml-cert

extraVolumeMounts:
  - name: saml-cert
    mountPath: /etc/sonarqube/saml
    readOnly: true

env:
  - name: SONAR_AUTH_SAML_CERTIFICATE_PATH
    value: "/etc/sonarqube/saml/certificate.pem"

sonarProperties:
  sonar.core.serverBaseURL: "http://sonarqube.local"
  sonar.auth.saml.enabled: "true"
  sonar.auth.saml.applicationId: "sonarqube"
  sonar.auth.saml.providerName: "SAML"
  sonar.auth.saml.providerId: "https://keycloak-thongdhse160015-dev.apps.rm3.7wse.p1.openshiftapps.com/realms/thongdhse160015"
  sonar.auth.saml.loginUrl: "https://keycloak-thongdhse160015-dev.apps.rm3.7wse.p1.openshiftapps.com/realms/thongdhse160015/protocol/saml"
  sonar.auth.saml.user.login: "login"
  sonar.auth.saml.user.name: "name"
  sonar.auth.saml.user.email: "email"
  sonar.auth.saml.group: "groups"
  sonar.auth.saml.signRequests: "false"
  sonar.auth.saml.certificate.path: "/etc/sonarqube/saml/certificate.pem"

monitoringPasscodeSecretName: "sonarqube-monitoring-passcode"
monitoringPasscodeSecretKey: "passcode"
