ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "500m"
  hosts:
    - host: reposilite.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 1.0
    memory: 512Mi

env:
  - name: JAVA_OPTS
    value: "-Xmx256M"