expose:
  type: ingress
  tls:
    enabled: true
    certSource: auto
  ingress:
    className: nginx
    hosts:
      core: core.harbor.domain
    annotations:
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
      nginx.ingress.kubernetes.io/proxy-body-size: "0"

externalURL: https://core.harbor.domain

ipFamily:
  ipv6:
    enabled: false
  ipv4:
    enabled: true
