ingress:
  enabled: true
  className: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: "local-ca-issuer"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
  hosts:
    - host: gitea.local
      paths:
        - path: /
  tls:
    - secretName: gitea-tls-secret
      hosts:
        - gitea.local

config:
  server:
    ROOT_URL: "https://gitea.local"
    DOMAIN: "git.local"
    SSH_DOMAIN: "git.local"
  webhook:
    ALLOWED_HOST_LIST: "*"

valkey-cluster:
  enabled: false

valkey:
  enabled: true

postgresql-ha:
  enabled: false

postgresql:
  enabled: true
